<div class="customCardContainer"> 
  <section class="hero is-small is-primary">
    <div class="hero-body">
      <p class="title">
        {{username}}'s Dashboard
      </p>
    </div>
  </section>
  {{#each posts as |post|}}
  <div class="card mt-4" data-id="{{post.id}}">
    <header class="card-header is-justify-content-space-between">
      <div>
        <p class="card-header-title">
          {{post.title}}
        </p>
      </div>
      <div>
        <p class="card-header-title is-italic has-text-weight-normal">
          {{format_date post.date_created}}
        </p>
      </div>
    </header>
  </div>
  {{/each}}
</div>

<div class="mt-3 container is-flex is-justify-content-center">
  <button class="button is-info px-0 py-0">
    <a class="button is-info" href="/newpost">
      Create a new post
    </a>
  </button>
</div>

<script src="/js/dashboard.js"></script>