{{#each posts as |post|}}

<div class="card mt-4">
  <header class="card-header is-justify-content-space-between">
    <div>
      <p class="card-header-title">
        {{post.title}}
      </p>
    </div>
    <div>
      <p class="card-header-title is-italic has-text-weight-normal">
        By: {{post.user.username}}
      </p>
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      {{post.body}}
    </div>
  </div>
</div>

{{/each}}