<h2>New Post</h2>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Post Title">
    <span class="icon is-small is-left">
      <i class="fas fa-heading"></i>
    </span>
  </p>
</div>
<div class="field">
  <div class="control">
    <textarea class="textarea" placeholder="Post Body" rows="8"></textarea>
  </div>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success">
      Sign Up
    </button>
  </p>
</div>