
<section class="hero is-small is-primary">
  <div class="hero-body">
    <p class="title">
      Sign Up      
    </p>
  </div>
</section>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" id="signup-username" type="text" placeholder="Username">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" id="signup-password" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success" id="signup-submit">
      Sign Up
    </button>
  </p>
</div>
<button class="button is-info px-0 py-0">
  <a class="button is-info" href="/login">
    Login Instead
  </a>
</button>
<div class="notification is-danger is-light is-hidden mt-2" id="signup-error-user">
  <button class="delete" id="user-error-delete"></button>
  The entered username is not available.  Please try with a different username.
</div>
<div class="notification is-danger is-light is-hidden mt-2" id="signup-error-pass">
  <button class="delete" id="pass-error-delete"></button>
  The password must be a minimum of 8 characters.  Please try a different password.
</div>

<script src="/js/signup.js"></script>